
<div class="row">
    <div class="col">
        <form autocomplete="off" (ngSubmit)='buscar()'>
            <input  type="text" 
                    class="form-control"
                    name="termino"
                    placeholder="Buscar país..."
                    [(ngModel)]='termino'
                    >
        </form>
    </div>
</div>

<hr>
<div    class="alert alert-danger"
        *ngIf='hayError'
>No se encontro nada con el termino {{termino}}
</div>

<div class="row" *ngIf="!hayError && paises[0]">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr >
                    <th>#</th>
                    <th>
                        Flag
                    </th>
                    <th>Name</th>
                    <th>Population
                       
                    </th>
                    <th>Capital</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let pais of paises; let indice = index'>
                    <td>{{indice + 1}}</td>
                    <td><img src="{{pais.flag}}" alt="" class='small-flag'></td>
                    <td>{{pais.name}}</td>
                    <td>{{pais.population.toPrecision() | number}}</td>
                    <td>{{pais.capital}}</td>
                    <td>
                        <a href="./pais/123">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>